body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #searchInput {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #userList {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .editButton, .deleteButton {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .editButton {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
  }
  